body {
  background-color: #090617;
}

header{
    

}

h1 {
    color: #ccd6f6;
    font-family: NTR, sans-serif;
    font-size: 46px;
    font-weight: 700;
}

p {
  color: #ccd6f6;
  font-family: NTR, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

